body{
    margin:0;
    padding:0;
   font-family: sans-serif;
}
header{
    overflow:hidden;
    font-weight: bold;
}
.head{
    float: left;
    margin-left: 2%;
    color:chocolate;
    letter-spacing: 2px;   
    font-family: cursive;
    font-size:1.3rem; 
}
nav{
    float:right;
    margin-top: 1.5%;
    margin-right:2%;
}
 
 li{
    display:inline;   
    padding: 1rem;
 }

 li a{
     text-decoration: none;
     color:#000;
 }
 .container{
     text-align: center;
     background: #225470 url(image/plush-design-studio-q10VITrVYUM-unsplash.jpg);
     height: 85.5vh;
     width:100%;
     position:relative;
 }
 .overlay{
    width:100%;
    height: 100%;
    background: #225470;
    opacity:0.85;
    position:absolute;

 }
 .main{
     margin-top:10%;
     font-size:2rem;
     color:#fff;
     z-index:1;
 }
 h1{
     font-size:3rem;
     color:#fff;
     z-index:1;
 }
 .para{
    color:#fff;
    font-size:1.5rem;
    z-index:1;
    font-family: cursive;
 }
 .btn1{
     background-color: #fff;
     padding:0.7rem 1rem;
     border:none;
     border-radius: 5px;
     margin-top: 2%;
     z-index: 1;
    }
    .btn2{
        background:green;
        color: #fff;
        padding:0.7rem 1rem;
        border:none;
        border-radius: 5px;
        margin-left: 3%;
        z-index: 2;


    }