body{
    margin:0;
    padding:0;
    background: url(image/tianyi-ma-WiONHd_zYI4-unsplash.jpg)
    no-repeat center center fixed;
   color:#fff;
   background-size: cover;
   font-family: sans-serif;
}
header{
    background-color: #fff;
    overflow:hidden;
    margin:auto;
}
.head{
    float: left;
    color:brown;    
}

nav{
    float:right;
}
 
 li{
    display:inline;   
    padding-right: 1.7rem;
 }

 li a{
     text-decoration: none;
     font-weight: bold;
 }
 .container{
     width:80%;
     margin:auto;
     margin-top:5rem;
    overflow:hidden;
 }
 showcase{
     text-align:center;
 }
 showcase h1{
    
     font-weight:bold;
     text-align:center;
     
 }

 showcase h3{
    letter-spacing:2px ;
    padding-top:1rem;
 }
 showcase p{
     font-style: cursive;
     padding:2px;
     
 }
 .btn{
padding:0.3rem;
border-radius: 5px;

 }
 .btn1{
    padding:0.3rem;
    background-color:rgb(107, 218, 107);  
    border-radius: 5px;
    text-decoration: none;
    margin-left:25px;
 }